* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding-inline: 8px;
    box-shadow: 4px 4px 8px #ddd;
}

nav.left {
    width: 320px;
    display: flex;
    gap: 8px;
    align-items: center;
}

nav.left input {
    flex-grow: 1;
    height: 40px;
    border-radius: 40px;
    border: none;
    padding-inline: 8px;
    font-size: 18px;
}

nav.center {
    /* border: 1px dashed red; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

nav.center .box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 129px;
    height: 100%;
    border-radius: 8px;
}

nav.center .box-icon:hover {
    background-color: #cacaca;
}

nav.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

nav.right .round-icon {
    width: 40px;
    height: 40px;
    background-color: #e4e6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.main-wrapper {
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.sideber-left {
    border: 1px solid pink;
    min-height: 100vh;
    flex-basis: 360px;
}

.news-feed {
    border: 1px solid pink;
    min-height: 100vh;
    flex-basis: 360px;
}

.sideber-right {
    border: 1px solid pink;
    min-height: 100vh;
    flex-basis: 360px;
}